<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Button</title>
</head>
<body>
    <button onclick="logout()">Log out</button>

    <form method="post">    
        {% csrf_token %}    
        {{ form.as_p }}   
        <button type="submit">SUBMIT</button>  
    </form>
    <button onclick="redirect(route='auth')">Redirect to LINE</button>

    <script>
        function logout() {
            localStorage.removeItem('userId');
            window.location.href = "{{base_url}}/isLogout";
        }
        function redirect(route) {
            if (route == 'auth') {
                let url = `{{auth_url}}?response_type={{response_type}}&client_id={{client_id}}&redirect_uri={{base_url}}/auth/&scope=notify&state={{state}}`;
                window.location.href = url;
            } else if (route == 'login') {
                let url = `{{login_url}}?response_type={{response_type}}&client_id={{login_id}}&redirect_uri={{base_url}}/login/&scope={{scope}}&state={{state}}`;
                window.location.href = url;
            }
        }
    </script>
</body>
</html>