<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Button</title>
</head>
<body>
    <button onclick="logout()">Log out</button>
    <button onclick="auth()">Redirect to LINE</button>

    <script>
        function logout() {
            localStorage.removeItem('userId');
            window.location.href = "{{base_url}}/isLogout";
        }
        function auth() {
            let url = `{{auth_url}}?response_type={{response_type}}&client_id={{client_id}}&redirect_uri={{auth_redirect_url}}&scope={{scope}}&state={{state}}`;
            window.location.href = url;
        }
    </script>
</body>
</html>